<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="Member" id="memberResultSet">
		<id property="memNum" column="mem_num"/>
		<result property="memId" column="mem_id"/>
		<result property="memPwd" column="mem_pwd"/>
		<result property="memName" column="mem_name"/>
		<result property="memNickName" column="mem_nickname"/>
		<result property="memGender" column="mem_gender"/>
		<result property="memPhone" column="mem_phone"/>
		<result property="memAddress" column="mem_address"/>
		<result property="memProfileName" column="mem_profil_name"/>
		<result property="memProfilePath" column="mem_profil_path"/>
		<result property="memType" column="mem_type"/>
		<result property="memStatus" column="mem_status"/>
		<result property="memEnrollDate" column="enroll_date"/>
		<result property="memOutDate" column="out_date"/>
	</resultMap>

        
	<resultMap type="Member" id="StudentResultSet">
		<id property="memNum" column="mem_num"/>
		<result property="memId" column="mem_id"/>
		<result property="memNickName" column="mem_nickname"/>
		<result property="memName" column="mem_name"/>
		<result property="memGender" column="mem_gender"/>
		<result property="memPhone" column="mem_phone"/>
		<result property="memAddress" column="mem_address"/>
		<result property="memProfileName" column="mem_profil_name"/>
		<result property="memProfilePath" column="mem_profil_path"/>
		<result property="payDate" column="pay_date"/>
		<result property="payPrice" column="pay_price"/>
		<result property="takeDate" column="take_date"/>
		<result property="courseNum" column="course_num"/>
		<result property="courseTitle" column="course_title"/>
		<result property="courseKind" column="course_kind"/>
		<result property="courseLevel" column="course_level"/>
	</resultMap>
	
		<resultMap type="Coupon" id="couponResultSet">
		<id property="rNum" column="rownum"/>
		<result property="givecouponNum" column="givecoupon_Num"/>
		<result property="memNum" column="mem_num"/>
		<result property="givecouponEnrolledDate" column="givecoupon_enrolled_date"/>
		<result property="givecouponUsingDate" column="givecoupon_using_date"/>
		<result property="givecouponStatus" column="givecoupon_status"/>
		<result property="couponType" column="coupon_type"/>
		<result property="couponName" column="coupon_name"/>
		<result property="couponDiscount" column="coupon_discount"/>
		<result property="couponStartDate" column="coupon_start_date"/>
		<result property="couponEndDate" column="coupon_end_date"/>
	</resultMap>
	
	 <!-- 1. 로그인 -->
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		select *
		from member
		where mem_id=#{memId} and mem_status='Y'
	</select>
	
	<!-- 2. 회원가입 -->
	<insert id="insertMember" parameterType="Member" >
		insert into member 
		values(MEMBER_SEQ.NEXTVAL,#{memId},#{memPwd},#{memNickName},#{memName},#{memGender},
				#{memPhone},#{memAddress}, null, null, default, default, sysdate, null)
	</insert>
	
	<!-- 3. 회원 정보 수정 -->
	<update id="updateMember" parameterType="Member">
		update member
		set mem_pwd=#{memPwd}, mem_nickname=#{memNickName}, mem_phone=#{memPhone}, mem_address=#{memAddress}
		where mem_id=#{memId}
	</update>
	
	<!-- 4. 회원 정보 탈퇴 -->
	<update id="deleteMember" parameterType="Member">
		update member
		set mem_address=#{memAddress}, mem_status='N'
		where mem_id=#{memId} 
	</update>
	
	 <!-- 5. 쿠폰 리스트 불러오기 -->
	<select id="couponList" parameterType="_int" resultMap="couponResultSet">
		select rownum, c.*
		from (select *
		from givecoupon
		join coupon using(coupon_type)
		where mem_num=#{memNum} and givecoupon_status='Y') c
	</select>
	
	<!-- 6. 페이지처리 구문 -->
	<select id="getListCount" resultType="_int">
		select count(*)
		from givecoupon
		where givecoupon_status='Y'
	</select>
	
	
	
	
	<select id="selectMember" parameterType="Member" resultMap="memberResultSet">
		select *
		from member
		where mem_num = #{memNum}
	</select>
	
	<select id="selectMemberList" parameterType="Member" resultMap="memberResultSet">
		select *
		from member
	</select>
	
	
	<!-- (크리에이터 수강생관리) 클래스넘버로 수강생 리스트 조회하기  -->
	<select id="selectStuByCoNum" parameterType="_int" resultMap="StudentResultSet">
		select *
		from member
		join payment using(mem_num)
		join takecourse using(pay_num)
		where course_num = #{courseNum}
		and mem_status = 'Y' 
		order by mem_name
	</select>
	
	
	
	<!-- (크리에이터 수강생관리) 크리에이터 모든 수강생 리스트 조회하기  -->
	<select id="selectStuByCreNum" parameterType="_int" resultMap="StudentResultSet">
		select *
		from member
		join payment using(mem_num)
		join takecourse using(pay_num)
		join course using(course_num)
		where course_num in ( select course_num
		                        from course 
		                        where cre_num = #{creNum})
		and course_status='Y' and mem_status='Y'
		order by mem_name
	</select>
	
	<select id="selectBlackList" resultMap="memberResultSet">
		select *
		where member
		where mem_status = 'N' and out_date is not null
	</select> 
	
	<select id="getStuCount" parameterType="_int" resultType="_int">
		select count(*)
		from member
		join payment using(mem_num)
		join takecourse using(pay_num)
		join course using(course_num)
		where course_num in ( select course_num
		                        from course 
		                        where cre_num = #{creNum})
		and course_status='Y' and mem_status='Y'
	</select>
	
	<select id="selectAMember" parameterType="Member" resultMap="memberResultSet">
		select *
		from member
		join creator using(mem_num)
		where cre_num = #{creNum}
	</select>
	
	<select id="allowCreator" parameterType="_int" resultType="_int">
		update member
		set mem_status = 'C'
		where mem_num = #{memNum}
	</select>
</mapper>
