<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/> <!--  빈값이면 NULL로 인식 -->
	</settings>
	
	<typeAliases> <!-- 변수명으로 저장하는곳 ㅇㅇ -->
		<typeAlias type="com.ourcompany.class247.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.ourcompany.class247.creator.model.vo.Creator" alias="Creator"/>
		<typeAlias type="com.ourcompany.class247.creator.model.vo.CreatorAttachment" alias="CreatorAttachment"/>
		<typeAlias type="com.ourcompany.class247.notice.model.vo.FAQ" alias="FAQ"/>
		<typeAlias type="com.ourcompany.class247.notice.model.vo.Notice" alias="Notice"/>
		<!--  <typeAlias type="com.ourcompany.class247.notice.model.vo.NoticeReply" alias="NoticeReply"/> -->
	</typeAliases>
	
	
	<mappers> <!-- 매퍼 지정 -->
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/creator-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
	</mappers>
</configuration>
